body {
    background-color: #1abc9c;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.semaforo {
    background: black;
    padding: 10px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
}
.light{
    width: 100px;
    height: 100px;
    border-radius: 75%;
    margin: 5px;
}
.apagado {
    background-color: grey;
}
.rojo {background-color: red;
    box-shadow: 0 0 20px 5px #c0392b;}
.ambar {background-color: orangered;
    box-shadow: 0 0 20px 5px orange;}
.verde {background: chartreuse;
    box-shadow: 0 0 20px 5px #2ecc71;}
.glow {border-color: white;
        border-style: 4px solid;
    }
